img{
border-radius: 100%;
width: 20%; height: 20%;
}

body{
    background-color: #053B50;
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: xx-large;
    font-style: italic;
    color: #64CCC5;
}

ul{
    margin-left:80%;
}

li{
    display: inline-block;
}